* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(218, 22%, 67%);
}

@font-face {
  font-family: "Karla", sans-serif;
  src: url(./assets/fonts/Karla/Karla-VariableFont_wght.ttf);
}